.end {
  position: relative;
}

.name-wrapper {
  position: absolute;
  display: flex;
  width: 450px;
  height: 46px;
  padding: 32px 250px;
  border-radius: 80px;
  border: 1px solid #e4e7ec;
  font-weight: 900;
  font-size: 20px;
  margin-top: 36rem;
  margin-left: 17rem;
  align-items: center;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
}
.message1 {
  position: absolute;
  margin-top: 37.5rem;
  margin-left: 27.5rem;
  background: #ffead5;
  border-radius: 50px;
  padding: 13px 16px;
  z-index: 1;
  width: fit-content;
}
.email-wrapper {
  position: absolute;
  display: flex;
  width: 450px;
  height: 46px;
  padding: 32px 250px;
  border-radius: 80px;
  border: 1px solid #e4e7ec;
  font-weight: 900;
  font-size: 20px;
  margin-top: 44rem;
  margin-left: 17rem;
  align-items: center;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
}

.message2 {
  position: absolute;
  margin-top: 45.5rem;
  margin-left: 27.2rem;
  background: #ffead5;
  border-radius: 50px;
  padding: 13px 16px;
  z-index: 1;
  width: fit-content;
}
.contact {
  position: absolute;
  display: flex;
  padding: 30px 40px;
  border-radius: 60px;
  background: #fd853a;
  color: #fff;
  margin-left: 40rem;
  margin-top: 51.5rem;
}
.end-note {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  margin-top: 62rem;
  margin-left: 25rem;
}
