/* utility classes  */
.center {
  display: flex;
  justify-content: center;
}

.orange {
  color: #fd853a;
}

/* stylings  */
.hero {
  position: relative;
}
.hero__heading--content {
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 20px;
}

.hero__description {
  margin-top: 10px;
  font-size: 9.4rem;
  font-weight: 600;
  line-height: 100%;
}

.hero__content {
  /* display: flex;  */
  /* padding: 0 70px;  */
  position: relative;
  margin-top: -100px;
}

.hero__content--1 {
  width: 30%;
  position: absolute;
  top: 200px;
  left: 10px;
}

.hero__content--2 {
  width: 60%;
  margin: 0 auto;
}
.hero__content--3 {
  position: absolute;
  top: 200px;
  right: 80px;
}
.quote {
  margin-bottom: 2.4rem;
}

.stars {
  display: flex;
  margin-bottom: 2rem;
}

.hero__content--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
