.hello-wrapper {
  display: flex;
  justify-content: center;
  margin: 56px 0 10px 0;
  position: relative;
}

.Vec1-wrapper {
  position: relative;
}

.Vector1 {
  position: absolute;
  margin: -80px 50rem;
}

.hello {
  border: 1px solid black;
  color: black;
  padding: 10px 25px;
  border-radius: 35px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
}
.lolu {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -1.433px;
}
.hero {
  position: relative;
}

.woman {
  margin: -10% 18%;
  position: absolute;
}

.taye {
  color: #fd853a;
}
.quoted-words {
  position: relative;
  padding-top: 70px;
}
.heronote {
  margin: 100px 71px;
  position: absolute;
  font-weight: 900;
  font-size: 20px;
}
.quotation {
  position: absolute;
  margin-top: 40px;
  margin-left: 70px;
}
.star-words {
  position: relative;
}

.stars {
  position: absolute;
  margin-left: 75rem;
  margin-top: 70px;
}

.exp-word {
  position: absolute;
  margin-top: 130px;
  margin-left: 75rem;
}
.years {
  font-size: 47px;
  font-weight: 900;
}

.folio-hire__wrapper {
  position: absolute;
  border-radius: 50px;
  border: 2px solid #fff;
  margin-left: 36rem;
  margin-top: 350px;
  width: 330px;
  display: flex;
  padding: 15px 20px;
  backdrop-filter: blur(7.5px);
  gap: 35px;
}
.portfolio-wrapper {
  border-radius: 60px;
  border: 0.5px solid #fff;
  color: #fff;
  background-color: #fd853a;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
}
.hire-wrapper {
  color: #fff;
  font-size: 25px;
}
